﻿@model IEnumerable<proyecto_final.Perfiles> 
@using System.Reflection
@{
    ViewData["Title"] = "Home Page";
    
}
<h1>Perfiles </h1>
@{
    PropertyInfo[] objeto_ = typeof(Perfiles).GetProperties();
    
    Html.RenderPartial("../crud/listar.cshtml", new {  objeto = objeto_, datos = Model});   
}

