﻿@model IEnumerable<proyecto_final.Usuarios> 
@using System.Reflection
@{
    ViewData["Title"] = "Home Page";
    
}
<h1>Usuario </h1>
@{
    PropertyInfo[] objeto_ = typeof(Usuarios).GetProperties();
    
    Html.RenderPartial("../crud/listar.cshtml", new {  objeto = objeto_, datos = Model});   
}

