@using System.Reflection

@{
    var modelo =Model;

}
<div>  
    <h1> Eliminar</h1>
    <form method="post"  >

    @foreach(PropertyInfo property in  modelo.objeto){          
        <div class="form-group">
            <label class = "control-label col-md-2" >@property.Name</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="@property.Name"  value="@property.GetValue(modelo.datos)"/>   
            </div>
        </div>
    }
     <input class="btn btn-primary btn-sm" type="submit" value="Confirmar" />
    </form>
</div>