@using System.Reflection

@{
    var modelo =Model;
}


<div>  

    @foreach(PropertyInfo property in modelo.objeto){              
    <dl class="dl-horizontal">
       
       <dt>
            <label class="control-label col-md-2">@property.Name</label>
        </dt>
        <dd>
            <label class="control-label col-md-2">@property.GetValue(modelo.datos)</label>
        </dd>
    </dl>

    }
    <p>
        @Html.ActionLink("Modificar", "Edit", new {  id = @modelo.objeto[0].GetValue(modelo.datos)   }) |
        @Html.ActionLink("Retornar", "Index")
    </p>
</div>