@using System.Reflection

@{
    PropertyInfo[]  objeto = Model;
}
<div>  
    <form method="post"  >

    @for(int campo = 1;campo < objeto.Length;campo++){          
        <div class="form-group">
            <label class = "control-label col-md-2" >@objeto[campo].Name</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="@objeto[campo].Name" maxlength="50"/>   
            </div>
        </div>
    }
     <input class="btn btn-primary btn-sm" type="submit" value="Confirmar" />
    </form>
</div>