@using System.Reflection

@{
    var modelo =Model;
}

<div> 
       <p>
        @Html.ActionLink("Agregar estudiantes", "insert")
    </p>
    <table class="table">
        <tr>
            @foreach(PropertyInfo property in modelo.objeto){              
                <th>
                    @property.Name
                </th>
            }
            <th>Acciones</th>
        </tr>
    @if( modelo.datos != null){
        @foreach (var item in modelo.datos) {
            <tr>
                @foreach(PropertyInfo property in modelo.objeto){              
                    <td>
                        @property.GetValue(item)
                    </td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=@modelo.objeto[0].GetValue(item)  }) |
                    @Html.ActionLink("Detalle", "Details", new {  id=@modelo.objeto[0].GetValue(item) }) |
                    @Html.ActionLink("Borrar", "Delete", new {  id=@modelo.objeto[0].GetValue(item)  })
                </td>
            </tr>
        }
    }    
    </table>
</div>